@import 'https://fonts.googleapis.com/css?family=Roboto:400,700|Baloo+Tamma';
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Baloo Tamma', cursive;
    font-size: 2em;
    border-bottom: 1px dashed #EEE;
    margin-top: 0.8rem;
}

.sidebar {
    float:left;
    width: 30%;
    height: 600px;
    height:100vh;
    overflow: auto;
    padding: 2rem;
    background: #173645;
    color: white;
}

.form-label {
    display: block;
    padding: 0.7rem 0;
    font-size: 1.2em;
    font-weight: bold;
}

.form-input {
    display: block;
    padding: 0.7rem;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    margin: 1.2rem 0;
    font-size: 1.2em;
    background: #81C653;
    cursor: pointer;
    &:hover {
        background: #39AC41;
    }
}

.error {
    color: #D07C71;
}

.map-container {
    float:left;
    width: 70%;
}

// Map width and height needs to be on the ID for MapBox to work
#map {
    height: 600px; // Fallback for non vh browsers
    height: 100vh;
    width: 100%;
    &.loading {
        background-image: url('../images/loading_spinner.gif');
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.profile-image {
    float: left;
}

.screen-name {
    float: left;
    padding: 0.8rem;
}

.card-text {
    clear: both;
}

.fieldset-reset {
    border: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
